<html>
 <head></head>
 <body>
  <h1> Welcome to ToDo Web App by @nkit </h1>

  <form action="/add" method="post">
    <div>
      <label for="title">Name Todo Title</label>
      <input type="text" name="title" placeholder="Enter Todo....">
      <br> 
      <button type="submit">Add</button>
    </div>
  </form>

  {% for todo in todo_list %}
      <p> {{ todo.id }} | {{ todo.title }} </p>

      {% if todo.complete == False %} 
          <span>Not Complete</span>
      {% else %} 
          <span>Complete</span>
      {% endif %}

      <a href="/update/{{ todo.id }}">Update</a> 
      <a href="/delete/{{ todo.id  }}">Delete</a> 
  {% endfor %}    
  </body>
  </html>